.fa.fa-heart.favMeal{
    color:red;
}

.meal-card{
    min-width:345px;
    max-width:345px;
}
@media (max-width:500px){
    .meal-card{
        min-width:unset;
        max-width:unset;
        width:300px;
    }
}